@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --main-font:'Lexend Deca', sans-serif;
    --title-font: 'Big Shoulders Display', cursive;
}
body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

main{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: antiquewhite;
    color:rgba(255, 255, 255, 0.649);
    margin: 70px 15px;
    border-radius: 13px;

}
.titulo{
    font-family: var(--title-font);
    color: white;
    margin: 2.4rem 0;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: fit-content;
    height: 48px ;
    padding: 0 4px;
    border-radius: 24px;
    margin: 1.4rem 0;
    width: 147px;
    
}
img{
    margin-top: 3rem;
}

span:hover{
    color: white;
    border: 3px solid white;
    background-color: rgba(240, 248, 255, 0);
}

.bt1{
    color: var(--Bright-orange);
    margin: 2rem 0 3rem 0;
    
}
.bt2{
    color:var(--Dark-cyan) ;
    margin: 2rem 0 3rem 0;
}
.bt3{
    color: var(--Very-dark-cyan);
    margin: 2rem 0 3rem 0;
}


div{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight:bold;
}
.div1{
    width: 100%;
    background-color: var(--Bright-orange);
    max-height: 441px;
    flex-grow: 1;
    padding: 0 3rem 0 2.5rem;
    border-radius: 13px 13px 0 0;
}
.div2{
    width: 100%;
    background-color: var(--Dark-cyan);
    flex-grow: 1;
    max-height: 441px;
    padding: 0 3rem 0 2.5rem;
    
}

.div3{
    width: 100%;
    background-color: var(--Very-dark-cyan);
    flex-grow: 1;
    max-height: 441px;
    padding: 0 3rem 0 2.5rem;
    border-radius: 0 0 13px 13px;
}

@media screen {
    
}