@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --main-font:'Lexend Deca', sans-serif;
    --title-font: 'Big Shoulders Display', cursive;
}
body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    background-color: #F1F1F1;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 1325px;
    background-color: antiquewhite;
    color:rgba(255, 255, 255, 0.649);
    margin: 70px 15px;
    border-radius: 13px;

}
.titulo{
    font-family: var(--title-font);
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: fit-content;
    height: 48px ;
    padding: 0 4px;
    border-radius: 24px;
    width: 147px;
    
}
img{
    width:fit-content;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 441px;
    
}

span:hover{
    color: white;
    border: 3px solid white;
    background-color: rgba(240, 248, 255, 0);
    
}

.bt1{
    color: var(--Bright-orange);
  
    
}
.bt2{
    color:var(--Dark-cyan) ;

}
.bt3{
    color: var(--Very-dark-cyan);
    
}


div p{
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight:bold;
}
.div1{
    width: 100%;
    background-color: var(--Bright-orange);
    max-height: 441px;
    flex-grow: 1;
    padding: 2rem 4.8rem 2rem 3.5rem;
    border-radius: 13px 13px 0 0;
}
.div2{
    width: 100%;
    background-color: var(--Dark-cyan);
    flex-grow: 1;
    max-height: 441px;
    padding: 2rem 4.8rem 2rem 3.5rem;
    
}

.div3{
    width: 100%;
    background-color: var(--Very-dark-cyan);
    flex-grow: 1;
    max-height: 441px;
    padding: 2rem 4.8rem 2rem 3.5rem;
    border-radius: 0 0 13px 13px;
}

@media screen and (min-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1177px;
        max-height: 500px;
        background-color: antiquewhite;
        color:rgba(255, 255, 255, 0.649);
        margin: 70px 15px;
        border-radius: 13px;
    
    } 
    img{
        width: 4rem;
    }
    div{
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .div1{border-radius: 13px 0 0 13px;
        padding: 2rem 4rem 2rem 4rem;    
    }
    .div2{
        padding: 2rem 4rem 2rem 4rem;    
    }
    .div3{border-radius: 0 13px 13px 0;
        padding: 2rem 4.3rem 2rem 4rem;   
    }

    .titulo{
        font-family: var(--title-font);
        color: white;
        margin: 0rem 0 0rem 0;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: uppercase;
    }


    span{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: fit-content;
        padding: 0 2.5rem;
        border-radius: 60px;
    
        
    }
    div p{
        line-height: 1.8rem;
        font-size: 1rem;
        font-weight:bold;
    }
    .bt1{
        color: var(--Bright-orange);
        margin: 4rem 0 0rem 0;

        
    }
    .bt2{
        color:var(--Dark-cyan);
        margin: 4rem 0 0rem 0;
   

    }
    .bt3{
        color: var(--Very-dark-cyan); 
        margin: 4rem 0 0rem 0; 
    }

}
